/* Border box declaration
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

#main {
  background-color: lightblue;
  margin: auto;
  padding: 20px;
  border: 3px solid green;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.btn {
  border-radius: 12px;
  color: blue;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  font-size: larger;
  margin: 3px;
  flex: 0 0 100%
}

input {
  flex: 0 0 50%;
}

h1 {
  text-align: center;
  align-self: center;
}

div.form {
  text-align: center;
}

.login {
  text-align: left;
  background-color: lightgray;
  border: 2px solid green;
  border-radius: 10px;
  margin: 3px;
  padding: 5px;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  font-size: large;
  margin-left: 4%;
  margin-bottom: 2%;
  flex: 0 0 92%;
}

#winnerModal {
  position: relative;
  z-index: 999;
}

#loserModal {
  position: relative;
  z-index: 999;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.btn {
  border-radius: 12px;
  color: blue;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  font-size: large;
  margin: 5px;
  margin-left: 4%;
  margin-bottom: 2%;
  flex: 0 0 92%;
}

.winner, .loser {
  color: darkslategrey;
  background-color: lightyellow;
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  font-size: large;
}

.word {
  background-color: lightyellow;
  color: blue;
  text-align: center;
  display: block;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  font-size: medium;
  flex: 0 0 100%;
}

.user {
  margin: 2%;
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  font-size: medium;
}

h1, h2 {
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  font-size: larger;
}


@media screen and (min-width: 550px) {
  /* adjustments for medium size screens */

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  .login {
    padding: 4px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: large;
    margin-left: 10%;
    margin-bottom: 5%;
    flex: 0 0 50%;
  }

  .btn {
    margin-left: 10%;
    margin-bottom: 5%;
    flex: 0 0 20%;
  }

  .word {
    flex: 0 0 50%;
  }

  .column {
    flex: 0 0 20%;
  }

  .user {
    margin: 2%;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: large;
    flex: 0 0 20%;
  }
}

@media screen and (min-width: 850px) {
  /* put in adjustments if needed for bigger screens */

  #main {
    flex-flow: row nowrap;
  }

  .row {
    justify-content: space-around;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }
  .login {
    padding: 4px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: larger;
    margin-left: 20%;
    flex: 0 0 25%;
  }

  .btn {
    flex: 0 0 10%;
  }

  .user {
    display: flex;
    justify-content: space-between;
    margin: 5%;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: large;
    flex: 0 0 90%;
  }

  .h1 {
    font-size: x-large;
  }

  .wordContainer {
    margin: 5% 10% 5% 10%;
    flex: 0 0 60%;
  }
}
