#main {
  background-color: lightblue;
  margin: auto;
  width: 75%;
  padding: 20px;
  border: 3px solid green;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 50%;
}

div.form {
  display: block;
  width: 100%;
  text-align: center;
}

.login {
  display: inline-block;
  text-align: left;
  width: 50%;
  height: 50%;
  background-color: lightgray;
  border: 2px solid green;
  border-radius: 10px;
  left: 50%;
  margin: 5px;
  padding: 10px;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  font-size: medium;
}

#winnerModal {
  position: relative;
  z-index: 999;
}

#loserModal {
  position: relative;
  z-index: 999;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  border-radius: 12px;
  color: blue;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  font-size: large;
  margin: 5px;
}

.winner, .loser {
  color: darkslategrey;
  background-color: lightyellow;
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  font-size: large;
}

.word {
  background-color: lightyellow;
  color: blue;
  text-align: center;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 50%;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  font-size: medium;
}

.user {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  font-size: large;
}

h1, h2 {
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  /* put in adjustments if needed for bigger screens */
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* adjustments for medium size screens */
}

@media screen and (max-width: 767px) {
  /* put in adjustments if needed for smaller screens */
  img {
    height: 45%;
    width: 45%;
  }

  .btn {
    border-radius: 12px;
    color: blue;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: small;
    margin: 3px;
  }

  .login {
    width: 45%;
    height: 45%;
    left: 50%;
    margin: 3px;
    padding: 5px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: small;
  }

  #newuser, #username {
    width: 40%;
  }
}

