/* Border box declaration
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(182, 204, 201);
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.row .user {
  justify-content: center;
}

.row .login {
  justify-content: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.btn {
  text-align: center;
  text-decoration: none;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  font-size: small;
}

h1 {
  text-align: center;
  align-self: center;
}

.login {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: lightgray;
  padding: 1%;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  font-size: large;
  margin: 2% 10% 2% 10%;
  flex: 0 0 40%;
}

.login form {
  display: flex;
  justify-content: center;
}

#winnerModal {
  position: relative;
  z-index: 999;
}

#loserModal {
  position: relative;
  z-index: 999;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.winner, .loser {
  color: darkslategrey;
  text-align: center;
  background-color: lightyellow;
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  font-size: large;
  padding: 3px;
  flex: 0 0 3%;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.word {
  color: rgb(13, 13, 116);
  text-align: center;
  display: block;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  font-size: x-large;
  flex: 0 0 100%;
}
.wordContainer {
  justify-content: center;
  margin: 1% 10% 1% 10%;
  flex: 0 0 60%;
}

.user {
  display: flex;
  flex-flow: row wrap;
  background-color: lightgray;
  margin: 1% 2% 1% 2%;
  padding: 2%;
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  font-size: medium;
  flex: 0 0 40%;
}
.user form {
  display: flex;
  justify-content: center;
}

#userInfo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex: 0 0 30%;
  background-color: lightgray;
  margin: 1%;
  padding: 1%;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  font-size: small;
}

h1, h2 {
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  font-size: larger;
}


@media screen and (min-width: 550px) {
  /* adjustments for medium size screens */

  .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  img {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: 400px;
  }

  .login {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: large;
    margin: 2% 10% 2% 10%;
    flex: 0 0 0 40%;
  }

  .login form {
    display: flex;
    justify-content: center;
  }

  .word {
    flex: 0 0 60%;
  }

  .column {
    flex: 0 0 20%;
  }

  .user {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 2% 10% 2% 10%;
    padding: 1%;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: large;
    flex: 0 0 40%;
  }
}

@media screen and (min-width: 850px) {
  /* put in adjustments if needed for bigger screens */

  #main {
    flex-flow: row wrap;
  }

  .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  img {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: 400px;
  }
  .login {
    display: flex;
    justify-content: center;
    padding: 1%;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: larger;
    margin: 2% 10% 2% 10%;
    flex: 0 0 35%;
  }

  .login form {
    display: flex;
    justify-content: center;
  }

  .btn {
    margin: 2%;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .user {
    display: flex;
    justify-content: center;
    margin: 2% 10% 2% 10%;
    padding: 1%;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: large;
    flex: 0 0 35%;
  }
  .user form {
    display: flex;
    justify-content: center;
  }

  .h1 {
    font-size: x-large;
  }

  .wordContainer {
    margin: 1% 10% 1% 10%;
    flex: 0 0 60%;
  }
}
